.order-page{
    padding: 0;
    height: 100%;
    .search{
        height: 38px;
    }
    .nav-bar{
        margin: 10px 10px 0;
        height: 38px;
        .mint-tab-item{
            padding: 13px 0
        }
        .mint-tab-item.is-selected{
            margin-bottom: 0
        }
    }
    .order-list{
        overflow: auto;
        margin: 0 10px;
        flex: 1;
        .order-li{
            margin-top: 10px;
            .user-order,.courier-order{
                height: 120px;
                display: flex;
                flex-direction: column;
            }
            .courier-order{
                .courier-order-top{
                    display: flex;
                    align-items:center;
                    flex: 1;
                    img{
                        width: 90px;
                        height: 90px;
                        border: 1px solid #ccc;
                    }
                    .courier-info{
                        flex: 1;
                        margin-left: 20px;
                        p{
                            height: 30px;
                            line-height: 30px;
                        }
                        .courier-info-top{
                            display: flex;
                            justify-content:space-between;
                        }
                    }
                }
                .courier-order-btm{
                    height: 30px;
                    display: flex;
                    justify-content:flex-end;
                    align-items:center;
                }
            }
            padding: 5px 10px;
            .order-top{
                height: 30px;
                display: flex;
                justify-content:space-between;
                align-items:center;
                border-bottom: 1px solid #ccc;
                padding: 0 10px;
                .order-number{
                    color: #afacac 
                }
            }
            .order-mid{
                flex: 1;
                display: flex;
                justify-content:center;
                align-items:center;
                font-size: 18px
            }
            .order-btm{
                height: 30px;
                display: flex;
                justify-content:flex-end;
                align-items:center;
                .cancal-btn{
                    margin-left: 10px
                }
            }
        }
    }
}
