html, body, div, ul, li, dl, dt, img, p, span, button, header, footer, main, article {
  padding: 0;
  margin: 0;
}

* {
  -webkit-overflow-scrolling: touch;
  font-size: 12px;
}

ul, li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

input { /*清除苹果的阴影*/
  -webkit-appearance: none;
}

select {
  background-color: transparent;
  border: none;
  outline: none;
}

html, body, #app, #home {
  height: 100%;
  width: 100%;
  font-family: "microsoft yahei", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, html {
  background-color: #f2f2f2;
  font-size: 625%; /*或者625%*/
  /*box-sizing: border-box;*/
}

#app {
  display: flex;
}

#home {
  display: flex;
  flex-direction: column;
}
.mint-header {
  background-color: #1871f9;
  color: #fff;
}
.mint-searchbar {
  background-color: #1871f9 !important;
}

article {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.mint-indicator-wrapper {
  font-size: 12px;
}

.mint-popup-right {
  border-radius: 5px;
  height: 100%;
  width: 70%;
}

.mint-popup-bottom {
  width: 100%;
}

/* loading加载样式 */
.page-infinite-loading {
  height: 50px;
  text-align: center;
  display: flex;
  font-size: 14px !important;
  justify-content: center;
  align-items: center;
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mint-cell-wrapper{
  font-size:14px!important;
}


.grayBtn {
  color: #000;
  border: 1px solid #eee;
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
  border-radius: 5px
}
.red-font{
  color: red;
}
.blue-font{
  color: #2e95f7;
}
.blueBtn{
  color: #2e95f7;
  border: 1px solid #2e95f7;
}
.redBtn{
  color: red;
  border: 1px solid red;
}
.picker-item{
  font-size: 14px
}
.picker-item.picker-selected{
  font-size: 16px
}
.button_blue_long{/*长按钮*/
  height: 30px;
  border: 1px solid #2e95f7;
  border-radius: 8px;
  background: #fff;
  color: #2e95f7;
}